<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Flavor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/png">

</head>
<body>
  <header>
    <div class="logo">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Логотип">
    </div>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}Web Flavor{% endblock %}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <!-- Иконка сайта -->
      <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">
      <div class="right-nav">
        <div class="left-nav">
          <a href="{{ url_for('index') }}">Главная</a>
          <a href="{{ url_for('menu') }}">Меню</a>
          <a href="{{ url_for('delivery') }}">Доставка</a>
          <a href="{{ url_for('booking') }}">Бронирование</a>
        </div>
  
        <div class="profile-cart">
          <a href="{{ url_for('cart') }}" class="header-icon" title="Корзина">
            <img src="{{ url_for('static', filename='images/cart_icon.png') }}" alt="Корзина">
          </a>
          <a href="{{ url_for('profile') }}" class="header-icon" title="Профиль">
            <img src="{{ url_for('static', filename='images/profile_icon.png') }}" alt="Профиль">
          </a>
        </div>
      </div>
    </head>
  </header>
  
  

  {% block content %}{% endblock %}

  <footer>
    <p>&copy; все права принадлежат 2025 Web Flavor</p>
  </footer>
</body>
</html>
