{% extends "base.html" %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<div class="profile-container">

  <h2>Добро пожаловать, {{ user.username }}!</h2>
<div class="profile-actions">
  <a href="{{ url_for('edit_profile') }}" class="btn">Редактировать профиль</a>
  <!-- Новая кнопка -->
  <a href="{{ url_for('delivery') }}" class="btn">Адреса доставки</a>
  <a href="{{ url_for('loyality') }}" class="btn">Программа лояльности</a>
  <div class="logout-wrapper">
    <a href="{{ url_for('logout') }}" class="btn logout">Выйти</a>
  </div>
</div>
  <h3>Мои заказы</h3>
  {% if orders %}
  <div class="orders-grid">
    {% for order in orders %}
      <div class="order-card">
        <strong>Заказ #{{ order.id }}</strong><br>
        Сумма: {{ order.total_price }} ₽<br>
        {% set product_ids = order.items.split(',') %}
        {% set unique_ids = [] %}
  
        <ul class = "order-products">
          {% for pid in product_ids %}
            {% if pid not in unique_ids %}
              {% set _ = unique_ids.append(pid) %}
              {% set ns = namespace(count=0) %}
              {% for p in product_ids %}
                {% if p == pid %}
                  {% set ns.count = ns.count + 1 %}
                {% endif %}
              {% endfor %}
              {% set product = Product.query.get(pid|int) %}
              {% if product %}
                <li>{{ product.name }}  </li>
                <h>{{ ns.count }} шт.  — {{product.price * ns.count}}р. </h>
              {% else %}
                <li>Товар (удалён) — {{ ns.count }} шт.</li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
        <form action="{{ url_for('repeat_order', order_id=order.id) }}" method="post">
          <button type="submit" class="btn repeat-order-btn">Повторить заказ</button>
        </form>
      </div>
    {% endfor %}
  </div>
  {% else %}
    <p>У вас пока нет заказов.</p>
  {% endif %}
</div>
{% endblock %}
